.App {
  position: relative;
  text-align: center;
  display: flex;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: "cover";
  background-repeat:repeat-y;
  height: 600px;
}
.App-search{
  position: absolute;
  top: 5%;
  background-color: orange;
}

.par{
  position: absolute;
  top:75%;
  color:white;
  bottom: 20%;
  left:5%;
  display: flex;
  justify-content:flex-start;
}
.par2{
  position: absolute;
  top:80%;
  color:white;
  bottom: 20%;
  left:5%;
  display: flex;
  justify-content:flex-start;
}

.header {
  position: absolute;
  top:30%;
  left:5%;
  font-size: 80px;
  font-weight: bolder;
  right:60%;
  color:white;

}
